<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site_2.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
            
                <h1>@System.Configuration.ConfigurationManager.AppSettings["FrameworkTitle"]</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("MassUpload", "Index", "Upload")</li>
                        <li>@Html.ActionLink("Event", "Filter", "Event")</li>
                        <li>@Html.ActionLink("Transact", "Filter", "Transact")</li>
                        <li>@Html.ActionLink("Card", "List", "Card")</li>
                        <li>@Html.ActionLink("User", "Index", "User")</li>
                        <li>@Html.ActionLink("Report", "Indexd", "Report")</li>
                    }
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
