@model AEVIWeb.Models.CardModelsViewParam

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set the filter of data</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.MaskPan)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaskPan)
            @Html.ValidationMessageFor(model => model.MaskPan)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Expdate)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Expdate)
            @Html.ValidationMessageFor(model => model.Expdate)
        </div>

         <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Companyname)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Companyname)
            @Html.ValidationMessageFor(model => model.Companyname)
        </div>

         <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Email)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

       <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Loyaltyflag)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Loyaltyflag,new[]
                {new SelectListItem() {Text = null, Value =null}, 
                new SelectListItem() { Text = "Yes", Value ="Yes" }, 
                new SelectListItem() { Text = "No", Value = "No" } 
                })
            @Html.ValidationMessageFor(model => model.Loyaltyflag)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Fleetidflag)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Fleetidflag, new[] 
            {new SelectListItem() {Text = null, Value =null}, 
             new SelectListItem() { Text = "Yes", Value = "Yes" }, 
           new SelectListItem() { Text = "No", Value = "No" } })
            @Html.ValidationMessageFor(model => model.Fleetidflag)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Odometerflag)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Odometerflag, new[] {
           new SelectListItem() {Text = null, Value =null},  
           new SelectListItem() { Text = "Yes", Value = "Yes" }, 
           new SelectListItem() { Text = "No", Value = "No" } })
            @Html.ValidationMessageFor(model => model.Odometerflag)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Intdesignator)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Intdesignator, new[] {
           new SelectListItem() {Text = null, Value =null},  
           new SelectListItem() { Text = "1 - for international use", Value = "1 - for international use" }, 
           new SelectListItem() { Text = "5 - local use", Value = "5 - local use" } })
            @Html.ValidationMessageFor(model => model.Intdesignator)
        </div>


        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Vrn)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vrn)
            @Html.ValidationMessageFor(model => model.Vrn)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Drivername)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Drivername)
            @Html.ValidationMessageFor(model => model.Drivername)
        </div>
      
       <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.Blockflag)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Blockflag, new[] {
           new SelectListItem() {Text = null, Value =null}, 
           new SelectListItem() { Text = "Yes", Value = "Yes" }, 
           new SelectListItem() { Text = "No", Value ="No" } })
            @Html.ValidationMessageFor(model => model.Blockflag)
        </div>

        <div class="editor-label"><span style="float: left"><strong>
            @Html.LabelFor(model => model.CntBindFlag)&nbsp</strong></span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CntBindFlag, new[] {
           new SelectListItem() {Text = null, Value =null}, 
           new SelectListItem() { Text = "Yes", Value = "Yes" }, 
           new SelectListItem() { Text = "No", Value ="No" } })
            @Html.ValidationMessageFor(model => model.CntBindFlag)
        </div>
        <div class="editor-field"><span style="float: left">
            @Html.CheckBoxFor(model => model.IsAll)
            @Html.ValidationMessageFor(model => model.IsAll)
        </span></div>
         <div class="editor-label"><strong>
            @Html.LabelFor(model => model.IsAll)</strong>
        </div>
       
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>


